certifi==2026.2.25
charset-normalizer==3.4.7
decorator==4.4.2
dotenv==0.9.9
future==1.0.0
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
moviepy==1.0.3
numpy==2.4.4
opencv-python==4.13.0.92
pillow==12.2.0
proglog==0.1.12
pyee==13.0.1
python-dotenv==1.2.2
python-ffmpeg==2.0.12
requests==2.33.1
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
yt-dlp==2026.3.17
